@import './base.css';

#app {
  display: flex;
  flex-direction: column;
  max-width: 90vw;
}

#theWelcome {
  display: flex;
  flex-wrap: wrap;
  max-width: 90vw;
  overflow: hidden;
  padding: 2rem;
  background-color: rgba(35, 35, 35, 0.950);
  font-weight: normal;
  border-radius: 15px;
  right: 0cm;
}

#Galerie {
  display: block;
  max-width: 90vw;
  overflow: hidden;
  padding: 2rem;
  background-color: rgba(35, 35, 35, 0.950);
  font-weight: normal;
  border-radius: 15px;
  right: 0cm;
}

#app::-webkit-scrollbar{
  display: none;
}